body {
  background-color: #444444;
  color: #ffffff;
  background-image: 
    linear-gradient(45deg, rgba(0,170,255,.5) 50%, transparent 50%),
    linear-gradient(-45deg, transparent 50%, rgba(0,136,204,0.5) 50%);
    background-size: 17px 70px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10% 20%
}

.skills-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1)
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1)
}

.vol-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1)
}

.references-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.1)
}

















